Repository d-kanai/awesome-template: changes, and which lefthook commands are due for each by the changed paths.
All: backend-format, backend-lint, native-format, native-lint

lefthook.yml:

pre-commit:
  parallel: false
  commands:
    backend-format:
      glob: "backend/src/**/*.java"
      stage_fixed: true
      run: ./scripts/hooks/backend_format.sh {staged_files}
    backend-lint:
      glob: "backend/src/**/*.java"
      run: ./scripts/hooks/backend_lint.sh {staged_files}
    native-format:
      glob: "frontend_native/**/*.{ts,tsx,js,jsx,json}"
      stage_fixed: true
      run: ./scripts/hooks/frontend_format.sh {staged_files}
    native-lint:
      glob: "frontend_native/**/*.{ts,tsx,js,jsx,json}"
      run: ./scripts/hooks/frontend_lint.sh {staged_files}

Refactor E2E test structure and make setup_data generic
  frontend_native/e2e/features/auth/signup.yaml
  frontend_native/e2e/features/user.yaml
  frontend_native/e2e/features/user/user.yaml
  frontend_native/e2e/scripts/setup_data.js
  frontend_native/e2e/scripts/setup_user.js
  frontend_native/package.json
Due: native-format, native-lint

Fix relative paths in user.yaml for nested directory structure
  frontend_native/e2e/features/user/user.yaml
Due: none

Add test names and reorganize comments in E2E tests
  frontend_native/e2e/features/auth/signup.yaml
  frontend_native/e2e/features/user/user.yaml
Due: none

working
  frontend_native/e2e/scripts/reset_backend.js
  frontend_native/e2e/scripts/setup_data.js
Due: native-format, native-lint

Fix relative paths in signup.yaml for nested directory structure
  frontend_native/e2e/features/auth/signup.yaml
  frontend_native/e2e/scripts/reset_backend.js
Due: native-format, native-lint

Refactor signup to use password field instead of name
  backend/src/main/java/com/example/demo/modules/auth/application/command/SignupCommand.java
  backend/src/main/java/com/example/demo/modules/auth/presentation/input/SignupInput.java
  backend/src/main/java/com/example/demo/modules/auth/presentation/output/SignupOutput.java
  backend/src/main/java/com/example/demo/modules/test/application/command/SetupDataCommand.java
  backend/src/main/java/com/example/demo/modules/user/application/command/UpdateUserProfileCommand.java
  backend/src/main/java/com/example/demo/modules/user/domain/model/User.java
  backend/src/main/java/com/example/demo/modules/user/infrastructure/persistence/UserRepositoryImpl.java
  backend/src/main/java/com/example/demo/modules/user/presentation/input/UpdateUserProfileInput.java
  backend/src/main/java/com/example/demo/modules/user/presentation/output/FindAllUsersOutput.java
  backend/src/main/java/com/example/demo/modules/user/presentation/output/FindUserByEmailOutput.java
  backend/src/main/java/com/example/demo/modules/user/presentation/output/FindUserByIdOutput.java
  backend/src/main/java/com/example/demo/modules/user/presentation/output/UpdateUserProfileOutput.java
  backend/src/main/resources/db/migration/V2__Rename_name_to_password.sql
  backend/src/test/java/com/example/demo/modules/auth/presentation/controller/AuthControllerIntegrationTest.java
  backend/src/test/java/com/example/demo/modules/user/presentation/controller/UserControllerIntegrationTest.java
  frontend_native/app/users/signup.tsx
  frontend_native/e2e/features/auth/signup.yaml
  frontend_native/e2e/features/user/user.yaml
  frontend_native/e2e/flows/wait_visible.yaml
  frontend_native/features/auth/components/SignupForm.tsx
  frontend_native/features/auth/hooks/useSignupForm.ts
  frontend_native/features/auth/screens/SignupScreen.tsx
  frontend_native/features/shared/api/generated/index.ts
  frontend_native/features/shared/api/generated/model/findUserByEmailResponse.ts
  frontend_native/features/shared/api/generated/model/findUserByIdResponse.ts
  frontend_native/features/shared/api/generated/model/index.ts
  frontend_native/features/shared/api/generated/model/setupDataRequest.ts
  frontend_native/features/shared/api/generated/model/signupRequest.ts
  frontend_native/features/shared/api/generated/model/signupResponse.ts
  frontend_native/features/shared/api/generated/model/updateUserProfileRequest.ts
  frontend_native/features/shared/api/generated/model/updateUserProfileResponse.ts
  frontend_native/features/shared/api/generated/model/userListItem.ts
  frontend_native/features/users/components/UserListItem.tsx
  frontend_native/features/users/screens/UserListScreen.spec.tsx
Due: backend-format, backend-lint, native-format, native-lint

Refactor routing: move signup to auth/signup
  frontend_native/app/_layout.tsx
  frontend_native/app/auth/signup/index.tsx
  frontend_native/features/users/screens/UserListScreen.tsx
Due: native-format, native-lint

Add signin feature with API endpoint and screen
  backend/src/main/java/com/example/demo/modules/auth/application/command/SigninCommand.java
  backend/src/main/java/com/example/demo/modules/auth/presentation/controller/AuthController.java
  backend/src/main/java/com/example/demo/modules/auth/presentation/input/SigninInput.java
  backend/src/main/java/com/example/demo/modules/auth/presentation/output/SigninOutput.java
  backend/src/test/java/com/example/demo/modules/auth/presentation/controller/AuthControllerIntegrationTest.java
  frontend_native/app/_layout.tsx
  frontend_native/app/auth/signin/index.tsx
  frontend_native/app/index.tsx
  frontend_native/e2e/features/auth/signin.yaml
  frontend_native/e2e/features/auth/signup.yaml
  frontend_native/e2e/features/user/user.yaml
  frontend_native/features/auth/components/SigninForm.tsx
  frontend_native/features/auth/hooks/useSigninForm.ts
  frontend_native/features/auth/hooks/useSignupForm.ts
  frontend_native/features/auth/screens/SigninScreen.tsx
  frontend_native/features/shared/api/generated/index.ts
  frontend_native/features/shared/api/generated/model/index.ts
  frontend_native/features/shared/api/generated/model/signinRequest.ts
  frontend_native/features/shared/api/generated/model/signinResponse.ts
  frontend_native/features/users/screens/UserListScreen.tsx
  frontend_native/orval.config.cjs
Due: backend-format, backend-lint, native-format, native-lint

Refactor signin E2E test to use setup API
  frontend_native/e2e/features/auth/signin.yaml
Due: none

Remove back button from users screen after signin
  frontend_native/app/_layout.tsx
Due: native-format, native-lint

Remove reload button from users screen
  frontend_native/features/users/screens/UserListScreen.tsx
Due: native-format, native-lint

Remove Browse Users button from welcome screen
  frontend_native/app/index.tsx
Due: native-format, native-lint

Update user E2E test to use deep link navigation
  frontend_native/e2e/features/user/user.yaml
Due: none

Remove unused UserSignupScreen component
  frontend_native/features/users/screens/UserSignupScreen.tsx
Due: native-format, native-lint

Remove unused UserSignupForm and add knip configuration
  frontend_native/features/users/components/UserSignupForm.tsx
  frontend_native/features/users/hooks/useUserSignupForm.ts
  frontend_native/knip.json
  frontend_native/package.json
Due: native-format, native-lint

Add coverage directory to .gitignore
  frontend_native/.gitignore
Due: none

Add knip dead code detection to pre-commit hook
  tools/lefthook/frontend_remove_deadcode.sh
  tools/lefthook/lefthook.yml
Due: none

Add native-remove-deadcode target to Makefile
  Makefile
Due: none

working
  CLAUDE.md
  doc/development_workflow.md
Due: none

Add SignupScreen test and update coding guidelines
  CLAUDE.md
  backend/doc/code_rule.md
  frontend_native/biome.json
  frontend_native/doc/code_rule.md
  frontend_native/features/auth/screens/SignupScreen.spec.tsx
  frontend_native/features/users/screens/UserListScreen.spec.tsx
  frontend_native/knip.json
  frontend_native/pnpm-lock.yaml
  frontend_native/tsconfig.json
  tools/lefthook/frontend_remove_deadcode.sh
Due: native-format, native-lint

Add knip as dev dependency
  frontend_native/package.json
  frontend_native/pnpm-lock.yaml
Due: none

Add SigninScreen test
  frontend_native/features/auth/screens/SigninScreen.spec.tsx
Due: native-format, native-lint

Extract common test utilities to testsupport and fix Jest exit issues
  frontend_native/features/auth/screens/SigninScreen.spec.tsx
  frontend_native/features/auth/screens/SignupScreen.spec.tsx
  frontend_native/features/shared/test/testsupport.tsx
  frontend_native/features/users/screens/UserListScreen.spec.tsx
  frontend_native/jest.config.js
Due: native-format, native-lint

Exclude generated API files from coverage
  frontend_native/jest.config.js
Due: none

Remove unused dependencies and configure knip
  frontend_native/knip.json
  frontend_native/package.json
  frontend_native/pnpm-lock.yaml
Due: none

Refactor test setup: move cleanup to beforeEach and extract client
  frontend_native/features/auth/screens/SigninScreen.spec.tsx
  frontend_native/features/auth/screens/SignupScreen.spec.tsx
  frontend_native/features/users/screens/UserListScreen.spec.tsx
Due: native-format, native-lint

Remove unused cleanupQueryClient import from spec files
  frontend_native/features/auth/screens/SigninScreen.spec.tsx
  frontend_native/features/auth/screens/SignupScreen.spec.tsx
  frontend_native/features/users/screens/UserListScreen.spec.tsx
Due: native-format, native-lint

Enable noUnusedImports rule in Biome
  frontend_native/biome.json
Due: none

Enable exports checking in knip configuration
  frontend_native/knip.json
Due: none

Change backend test method names to Japanese
  backend/src/test/java/com/example/demo/modules/auth/presentation/controller/AuthControllerIntegrationTest.java
  backend/src/test/java/com/example/demo/modules/test/presentation/controller/TestDataSetupControllerIntegrationTest.java
  backend/src/test/java/com/example/demo/modules/user/presentation/controller/UserControllerIntegrationTest.java
Due: backend-format, backend-lint

Configure linting and coverage exclusions
  backend/build.gradle
  frontend_native/jest.config.js
Due: none

Extract WelcomeScreen to features and exclude app from coverage
  frontend_native/app/index.tsx
  frontend_native/features/welcome/screens/WelcomeScreen.tsx
  frontend_native/jest.config.js
Due: native-format, native-lint

Simplify auth flow: remove welcome screen, show signin on launch
  frontend_native/app/index.tsx
  frontend_native/features/auth/screens/SigninScreen.tsx
  frontend_native/features/welcome/screens/WelcomeScreen.tsx
Due: native-format, native-lint

Add signup link navigation test to SigninScreen
  frontend_native/features/auth/screens/SigninScreen.spec.tsx
Due: native-format, native-lint

Fix e2e and unit tests for auth flow changes
  frontend_native/e2e/features/auth/signin.yaml
  frontend_native/e2e/features/auth/signup.yaml
  frontend_native/features/auth/hooks/useSignupForm.ts
  frontend_native/features/auth/screens/SignupScreen.spec.tsx
Due: native-format, native-lint

Remove success popup after signin
  doc/development_workflow.md
  frontend_native/e2e/features/auth/signin.yaml
  frontend_native/features/auth/hooks/useSigninForm.ts
  frontend_native/features/auth/screens/SigninScreen.spec.tsx
Due: native-format, native-lint

Add Given/When/Then comments to e2e tests
  frontend_native/doc/code_rule.md
  frontend_native/e2e/features/auth/signin.yaml
  frontend_native/e2e/features/auth/signup.yaml
  frontend_native/e2e/features/user/user.yaml
Due: none

Update development_workflow.md
  doc/development_workflow.md
Due: none

Update code_rule.md
  frontend_native/doc/code_rule.md
Due: none

Update code_rule.md
  backend/doc/code_rule.md
Due: none
