Repository d-kanai/awesome-template: changes, and which lefthook commands are due for each by the changed paths.
All: backend-format, backend-lint, native-format, native-lint

backend-format:
  stage_fixed: true
  run: ./scripts/hooks/backend_format.sh {staged_files}

backend-lint:
  run: ./scripts/hooks/backend_lint.sh {staged_files}

native-format:
  stage_fixed: true
  run: ./scripts/hooks/frontend_format.sh {staged_files}

native-lint:
  run: ./scripts/hooks/frontend_lint.sh {staged_files}

Add frontend typecheck make target
  Makefile
  frontend_native/package.json
Due: none

Setup jest-expo testing for UserListScreen
  Makefile
  frontend_native/babel.config.js
  frontend_native/features/users/screens/UserListScreen.spec.tsx
  frontend_native/jest.config.js
  frontend_native/jest.env-setup.ts
  frontend_native/jest.setup.ts
  frontend_native/package.json
  frontend_native/pnpm-lock.yaml
  frontend_native/tsconfig.json
  tools/lefthook/backend_format.sh
  tools/lefthook/backend_lint.sh
  tools/lefthook/frontend_format.sh
  tools/lefthook/frontend_lint.sh
  tools/lefthook/lefthook.yml
Due: native-format, native-lint

Add aggregate install make target
  Makefile
Due: none

working
  Makefile
  frontend_native/package.json
Due: none

working
  README.md
Due: none

working
  Makefile
  README.md
  tools/lefthook/run-hook.sh
Due: none

working
  Makefile
  frontend_native/api/fetcher.ts
  frontend_native/app/_layout.tsx
  frontend_native/babel.config.js
  frontend_native/features/users/components/UserListItem.tsx
  frontend_native/features/users/hooks/useUserList.ts
  frontend_native/features/users/hooks/useUserSignupForm.ts
  frontend_native/features/users/screens/UserListScreen.spec.tsx
  frontend_native/tsconfig.json
  tools/lefthook/frontend_format.sh
  tools/lefthook/frontend_lint.sh
Due: native-format, native-lint

Add native unit test make target and improve workflow
  .github/workflows/backend-ut.yml
  .github/workflows/native-ut.yml
  Makefile
Due: none

Add Maestro e2e flow and align Node LTS
  .github/workflows/native-ut.yml
  .tool-versions
  backend/.tool-versions
  frontend_native/README.md
  frontend_native/e2e/app_launch.yaml
  frontend_native/package.json
Due: none

Add Expo dev client support and Maestro e2e setup
  Makefile
  frontend_native/app.json
  frontend_native/e2e/app_launch.yaml
  frontend_native/package.json
  frontend_native/pnpm-lock.yaml
Due: none

Add native-setup Make target
  Makefile
Due: none

Simplify native targets
  Makefile
Due: none

Rename native-devclient target to native-run
  Makefile
Due: none

Document macOS native setup commands
  README.md
  frontend_native/README.md
Due: none

Add coverage reporting and GitHub Pages publishing
  .github/workflows/backend-ut.yml
  README.md
Due: none

chore(native): enable jest coverage
  frontend_native/jest.config.js
  frontend_native/package.json
Due: none

Add frontend typecheck to lefthook pre-commit
  tools/lefthook/frontend_typecheck.sh
  tools/lefthook/lefthook.yml
Due: none

Move access logging filter into shared module
  backend/src/main/java/com/example/demo/modules/shared/AccessLogFilter.java
Due: backend-format, backend-lint

working
  .tool-versions
Due: none

Fix tab indentation in Makefile help text
  Makefile
Due: none

Convert access log to structured JSON
  backend/src/main/java/com/example/demo/modules/shared/AccessLogFilter.java
Due: backend-format, backend-lint

working
  .gitignore
  Makefile
  backend/src/main/java/com/example/demo/modules/auth/application/command/SignupCommand.java
  backend/src/main/java/com/example/demo/modules/auth/presentation/controller/AuthController.java
  backend/src/main/java/com/example/demo/modules/auth/presentation/input/SignupInput.java
  backend/src/main/java/com/example/demo/modules/auth/presentation/output/SignupOutput.java
  backend/src/main/java/com/example/demo/modules/user/presentation/controller/UserController.java
  backend/src/test/java/com/example/demo/modules/auth/presentation/controller/AuthControllerIntegrationTest.java
  backend/src/test/java/com/example/demo/modules/user/presentation/controller/UserControllerIntegrationTest.java
  frontend_native/e2e/app_launch.yaml
  frontend_native/features/shared/api/generated/index.ts
  frontend_native/features/shared/api/generated/model/findAllUsersResponse.ts
  frontend_native/features/shared/api/generated/model/findUserByEmailResponse.ts
  frontend_native/features/shared/api/generated/model/findUserByIdResponse.ts
  frontend_native/features/shared/api/generated/model/healthStatusResponse.ts
  frontend_native/features/shared/api/generated/model/index.ts
  frontend_native/features/shared/api/generated/model/signupRequest.ts
  frontend_native/features/shared/api/generated/model/signupResponse.ts
  frontend_native/features/shared/api/generated/model/updateUserProfileRequest.ts
  frontend_native/features/shared/api/generated/model/updateUserProfileResponse.ts
  frontend_native/features/shared/api/generated/model/userListItem.ts
  frontend_native/features/users/components/UserSignupForm.tsx
  frontend_native/features/users/screens/UserListScreen.tsx
  frontend_native/orval.config.cjs
  frontend_native/package.json
Due: backend-format, backend-lint, native-format, native-lint

working
  Makefile
Due: none

Enable H2 test profile for E2E
  Makefile
  backend/build.gradle
  backend/src/main/resources/application-test.yml
  frontend_native/e2e/app_launch.yaml
  frontend_native/package.json
Due: none

Tighten user list header spacing
  frontend_native/features/users/screens/UserListScreen.tsx
Due: native-format, native-lint

working
  frontend_native/e2e/app_launch.yaml
  frontend_native/e2e/config.yaml
  frontend_native/e2e/features/app_launch.yaml
  frontend_native/e2e/flows/wait_visible.yaml
  frontend_native/package.json
Due: none

working
  Makefile
  README.md
  backend/build.gradle
  backend/src/main/java/com/example/demo/modules/test/application/command/ResetDatabaseCommand.java
  backend/src/main/java/com/example/demo/modules/test/presentation/controller/TestDataSetupController.java
  backend/src/test/java/com/example/demo/modules/test/presentation/controller/TestDataSetupControllerIntegrationTest.java
  frontend_native/e2e/config.yaml
  frontend_native/e2e/features/app_launch.yaml
  frontend_native/e2e/scripts/reset_backend.sh
Due: backend-format, backend-lint

Fix e2e test configuration and improve cleanup in Makefile
  Makefile
  frontend_native/e2e/features/app_launch.yaml
  frontend_native/e2e/scripts/reset_backend.js
Due: native-format, native-lint

Implement backend reset using Maestro onFlowStart hook
  frontend_native/e2e/config.yaml
  frontend_native/e2e/features/app_launch.yaml
  frontend_native/e2e/flows/reset_backend.yaml
Due: none

Add logging to database reset operations
  backend/src/main/java/com/example/demo/modules/test/application/command/ResetDatabaseCommand.java
  backend/src/main/java/com/example/demo/modules/test/presentation/controller/TestDataSetupController.java
  backend/src/main/resources/application-test.yml
Due: backend-format, backend-lint

Improve reset_backend.yaml structure and readability
  frontend_native/e2e/flows/reset_backend.yaml
  frontend_native/e2e/scripts/reset_backend.js
  frontend_native/e2e/scripts/reset_backend.sh
Due: native-format, native-lint

Use Maestro native HTTP API for backend reset
  frontend_native/e2e/features/app_launch.yaml
  frontend_native/e2e/flows/reset_backend.yaml
  frontend_native/e2e/scripts/reset_backend.js
Due: native-format, native-lint

Add BACKEND_URL environment variable support
  frontend_native/e2e/scripts/reset_backend.js
Due: native-format, native-lint

Move e2e environment variables to execution-time arguments
  frontend_native/e2e/flows/wait_visible.yaml
  frontend_native/package.json
Due: none

Rename app_launch to user_signup for clearer test naming
  frontend_native/e2e/features/user_signup.yaml
  frontend_native/package.json
Due: none

Add test data setup API endpoint
  backend/src/main/java/com/example/demo/modules/shared/AccessLogFilter.java
  backend/src/main/java/com/example/demo/modules/test/application/command/SetupDataCommand.java
  backend/src/main/java/com/example/demo/modules/test/presentation/controller/TestDataSetupController.java
  backend/src/main/java/com/example/demo/modules/test/presentation/dto/SetupDataRequest.java
Due: backend-format, backend-lint

Add user list E2E test with backend setup
  frontend_native/e2e/features/user.yaml
  frontend_native/e2e/scripts/setup_user.js
Due: native-format, native-lint

Path conditions:
  backend-format: any of: backend/src/**/*.java
  backend-lint: any of: backend/src/**/*.java
  native-format: any of: frontend_native/**/*.{ts,tsx,js,jsx,json}
  native-lint: any of: frontend_native/**/*.{ts,tsx,js,jsx,json}
