Repository d-kanai/awesome-template: changes, and which lefthook commands are due for each by the changed paths.
All: backend-format, backend-lint, native-format, native-lint

lefthook.yml:

pre-commit:
  parallel: false
  commands:
    backend-format:
      glob: "backend/src/**/*.java"
      stage_fixed: true
      run: ./scripts/hooks/backend_format.sh {staged_files}
    backend-lint:
      glob: "backend/src/**/*.java"
      run: ./scripts/hooks/backend_lint.sh {staged_files}
    native-format:
      glob: "frontend_native/**/*.{ts,tsx,js,jsx,json}"
      stage_fixed: true
      run: ./scripts/hooks/frontend_format.sh {staged_files}
    native-lint:
      glob: "frontend_native/**/*.{ts,tsx,js,jsx,json}"
      run: ./scripts/hooks/frontend_lint.sh {staged_files}

security: Configure Spring Boot Actuator to only expose health endpoint
  backend/src/main/resources/application-test.yml
  backend/src/main/resources/application.yml
Due: none

Add Native E2E testing with EAS Build and Maestro Cloud
  .github/workflows/native-e2e.yml
  frontend_native/eas.json
Due: none

Add EAS project configuration
  frontend_native/app.json
Due: none

Fix Native UT with AuthProvider integration
  frontend_native/__mocks__/expo-secure-store.ts
  frontend_native/__mocks__/react-native-launch-arguments.ts
  frontend_native/features/auth/screens/SigninScreen.spec.tsx
  frontend_native/features/auth/screens/SignupScreen.spec.tsx
  frontend_native/features/shared/test/testsupport.tsx
  frontend_native/features/users/screens/UserListScreen.spec.tsx
Due: native-format, native-lint

Fix Native UT with AuthProvider integration
  frontend_native/features/auth/screens/SigninScreen.spec.tsx
Due: native-format, native-lint

Use development client for preview builds
  frontend_native/eas.json
Due: none

Add expo-dev-client for development builds
  frontend_native/app.json
  frontend_native/package.json
  frontend_native/pnpm-lock.yaml
Due: none

Use internal distribution for preview builds
  frontend_native/eas.json
Due: none

refactor: Reorganize GitHub Actions workflows with reusable structure
  .github/workflows/backend-deploy.yml
  .github/workflows/backend-ut.yml
  .github/workflows/ci.yml
  .github/workflows/native-e2e.yml
  .github/workflows/native-ut.yml
Due: none

fix: Add id-token permission to backend-deploy job
  .github/workflows/ci.yml
Due: none

fix: Use H2 database for backend unit tests in CI
  .github/workflows/backend-ut.yml
Due: none

fix: Skip flywayMigrate and generateJooq in CI tests
  .github/workflows/backend-ut.yml
Due: none

Fix build ID extraction in Native E2E workflow
  .github/workflows/native-e2e.yml
Due: none

chore: Temporarily disable backend-deploy and native-e2e jobs
  .github/workflows/ci.yml
Due: none

Fix BACKEND_URL passing to Maestro Cloud
  .github/workflows/native-e2e.yml
Due: none

Update backend IP address to 18.183.26.104
  .github/workflows/native-e2e.yml
  frontend_native/eas.json
Due: none

Fix environment variable name in eas.json
  frontend_native/eas.json
Due: none

refactor: Split native E2E workflow into build and test
  .github/workflows/ci.yml
  .github/workflows/native-build.yml
  .github/workflows/native-e2e.yml
Due: none

refactor: Remove unnecessary APK artifact storage
  .github/workflows/native-build.yml
Due: none

chore: Temporarily disable native-build and native-e2e jobs
  .github/workflows/ci.yml
Due: none

Allow HTTP traffic on Android for development
  frontend_native/app.json
Due: none

Add backend URL logging to E2E test
  README.md
  frontend_native/app.json
  frontend_native/e2e/features/auth/signup.yaml
Due: none

Add Android cleartext HTTP support for E2E testing
  frontend_native/app.json
  frontend_native/e2e/features/auth/signup.yaml
  frontend_native/knip.json
  frontend_native/plugins/withAndroidCleartextTraffic.js
Due: native-format, native-lint

Add @expo/config-plugins as devDependency
  frontend_native/package.json
  frontend_native/pnpm-lock.yaml
Due: none

Remove expo-dev-client from local development
  .github/workflows/native-build.yml
  Makefile
  frontend_native/app.config.js
  frontend_native/app.json
  frontend_native/app/_layout.tsx
  frontend_native/e2e/features/auth/signup.yaml
  frontend_native/knip.json
  frontend_native/package.json
  frontend_native/pnpm-lock.yaml
Due: native-format, native-lint

Consolidate E2E auth tests into single auth.yaml file
  .github/workflows/native-e2e.yml
  frontend_native/e2e/config.yaml
  frontend_native/e2e/features/auth/auth.yaml
  frontend_native/e2e/features/auth/signin.yaml
  frontend_native/e2e/features/auth/signup.yaml
Due: none

Remove __DEV__ check from E2E test token setup
  frontend_native/features/auth/context/AuthContext.tsx
Due: native-format, native-lint

Add debug logging to E2E test token setup
  frontend_native/features/auth/context/AuthContext.tsx
Due: native-format, native-lint

Update backend URL to new deployment IP
  .github/workflows/native-e2e.yml
Due: none

Update backend URL in EAS build config
  frontend_native/eas.json
Due: none

Add EAS Update support with version info display
  frontend_native/app.config.js
  frontend_native/app.json
  frontend_native/app/_layout.tsx
  frontend_native/doc/code_rule.md
  frontend_native/e2e/features/user/user.yaml
  frontend_native/eas.json
  frontend_native/features/settings/components/VersionInfo.tsx
  frontend_native/features/updates/hooks/useEasUpdate.ts
  frontend_native/features/users/screens/UserListScreen.tsx
  frontend_native/package.json
  frontend_native/pnpm-lock.yaml
Due: native-format, native-lint

Move useEasUpdate to shared hooks directory
  frontend_native/app/_layout.tsx
  frontend_native/features/shared/hooks/useEasUpdate.ts
Due: native-format, native-lint

Add Unleash feature flag management system
  Makefile
  README.md
  backend/build.gradle
  backend/docker-compose.yml
  backend/src/main/java/com/example/demo/modules/featureflag/application/FeatureFlagService.java
  backend/src/main/java/com/example/demo/modules/featureflag/config/FeatureFlagConfig.java
  backend/src/main/java/com/example/demo/modules/featureflag/presentation/FeatureFlagProxyController.java
  backend/src/main/java/com/example/demo/modules/shared/security/SecurityConfig.java
  backend/src/main/resources/application-test.yml
  backend/src/main/resources/application.yml
  backend/src/test/java/com/example/demo/modules/featureflag/application/FeatureFlagServiceTest.java
  doc/feature_flags.md
  frontend_native/app/_layout.tsx
  frontend_native/features/auth/screens/SigninScreen.tsx
  frontend_native/features/shared/api/featureFlagClient.ts
  frontend_native/features/shared/contexts/FeatureFlagContext.tsx
  frontend_native/features/shared/hooks/__tests__/useFeatureFlag.test.ts
  frontend_native/features/shared/hooks/useFeatureFlag.ts
  frontend_native/features/users/screens/UserListScreen.tsx
  frontend_native/jest.setup.ts
  frontend_native/package.json
  frontend_native/pnpm-lock.yaml
Due: backend-format, backend-lint, native-format, native-lint

Add TODO for Unleash scaling considerations
  README.md
Due: none

Add type-safe feature flag constants
  frontend_native/features/shared/constants/featureFlags.ts
  frontend_native/features/shared/hooks/__tests__/useFeatureFlag.test.ts
  frontend_native/features/shared/hooks/useFeatureFlag.ts
  frontend_native/features/users/screens/UserListScreen.tsx
Due: native-format, native-lint

Add Unleash to README technology stack
  README.md
Due: none

frontend_web_scaffold.txt
  frontend_web_scaffold.txt
Due: none

Add backend architecture and tech stack documentation
  backend/doc/overview.md
Due: none
