Repository d-kanai/awesome-template: changes, and which lefthook commands are due for each by the changed paths.
All: backend-format, backend-lint, native-format, native-lint

lefthook.yml:

pre-commit:
  parallel: false
  commands:
    backend-format:
      glob: "backend/src/**/*.java"
      stage_fixed: true
      run: ./scripts/hooks/backend_format.sh {staged_files}
    backend-lint:
      glob: "backend/src/**/*.java"
      run: ./scripts/hooks/backend_lint.sh {staged_files}
    native-format:
      glob: "frontend_native/**/*.{ts,tsx,js,jsx,json}"
      stage_fixed: true
      run: ./scripts/hooks/frontend_format.sh {staged_files}
    native-lint:
      glob: "frontend_native/**/*.{ts,tsx,js,jsx,json}"
      run: ./scripts/hooks/frontend_lint.sh {staged_files}

Fix YAML syntax error in backend-ut workflow
  .github/workflows/backend-ut.yml
Due: none

Fix heredoc indentation in backend-ut workflow
  .github/workflows/backend-ut.yml
Due: none

Add workflow_dispatch to enable manual workflow runs
  .github/workflows/backend-ut.yml
  .github/workflows/native-ut.yml
Due: none

Fix UserListScreen test timeout in CI
  frontend_native/features/users/screens/UserListScreen.spec.tsx
Due: native-format, native-lint

Fix backend test to use H2 database in CI
  .github/workflows/backend-ut.yml
Due: none

Fix auth screen test timeouts in CI
  frontend_native/features/auth/screens/SigninScreen.spec.tsx
  frontend_native/features/auth/screens/SignupScreen.spec.tsx
Due: native-format, native-lint

Add coverage collection and reporting to native-ut workflow
  .github/workflows/native-ut.yml
  frontend_native/jest.config.js
Due: none

Enable deploy-coverage job for manual workflow runs
  .github/workflows/backend-ut.yml
Due: none

Unify coverage deployment to GitHub Pages
  .github/workflows/backend-ut.yml
  .github/workflows/native-ut.yml
Due: none

Refactor coverage deployment with reusable workflow
  .github/workflows/backend-ut.yml
  .github/workflows/deploy-coverage.yml
  .github/workflows/native-ut.yml
Due: none

Fix variable expansion in coverage index page
  .github/workflows/deploy-coverage.yml
Due: none

Fix cross-workflow artifact download
  .github/workflows/deploy-coverage.yml
Due: none

Add coverage percentages to index page
  .github/workflows/deploy-coverage.yml
Due: none

Remove redundant artifact download steps
  .github/workflows/deploy-coverage.yml
Due: none

Add AWS CDK infrastructure for App Runner deployment
  .github/workflows/backend-deploy.yml
  backend/Dockerfile
  infra/.gitignore
  infra/bin/infra.ts
  infra/cdk.json
  infra/lib/backend-stack.ts
  infra/package-lock.json
  infra/package.json
  infra/tsconfig.json
Due: none

Fix Docker build for Apple Silicon and jOOQ
  backend/Dockerfile
Due: none

Fix Gradle build issues with jOOQ in src/main/generated-java
  backend/build.gradle
Due: none

Fix backend deployment workflow order
  .github/workflows/backend-deploy.yml
Due: none

Change AWS region from ap-northeast-1 to us-west-2
  infra/bin/infra.ts
Due: none

Add Spring Boot Actuator for App Runner health checks
  backend/build.gradle
  infra/bin/infra.ts
Due: none

working
  README.md
  backend/src/main/resources/application-test.yml
  backend/src/main/resources/application.yml
  infra/lib/backend-stack.ts
Due: none

working
  .github/workflows/backend-deploy.yml
  backend/Dockerfile
  backend/src/main/java/com/example/demo/modules/user/application/command/DeleteUserCommand.java
  backend/src/main/java/com/example/demo/modules/user/application/command/UpdateUserProfileCommand.java
  backend/src/main/java/com/example/demo/modules/user/application/query/FindUserByEmailQuery.java
  backend/src/main/java/com/example/demo/modules/user/application/query/FindUserByIdQuery.java
  backend/src/main/java/com/example/demo/modules/user/domain/repository/UserRepository.java
  backend/src/main/java/com/example/demo/modules/user/infrastructure/persistence/UserRepositoryImpl.java
  backend/src/main/java/com/example/demo/modules/user/presentation/controller/UserController.java
  backend/src/main/java/com/example/demo/modules/user/presentation/input/UpdateUserProfileInput.java
  backend/src/main/java/com/example/demo/modules/user/presentation/output/FindUserByEmailOutput.java
  backend/src/main/java/com/example/demo/modules/user/presentation/output/FindUserByIdOutput.java
  backend/src/main/java/com/example/demo/modules/user/presentation/output/UpdateUserProfileOutput.java
  backend/src/main/resources/application-test.yml
  backend/src/test/java/com/example/demo/modules/auth/presentation/controller/AuthControllerIntegrationTest.java
  backend/src/test/java/com/example/demo/modules/user/presentation/controller/UserControllerIntegrationTest.java
  infra/lib/backend-stack.ts
Due: backend-format, backend-lint

Revert workarounds and add Spring Boot Actuator
  backend/Dockerfile
  backend/src/main/resources/application-test.yml
Due: none

Switch from App Runner to ECS Fargate deployment
  .github/workflows/backend-deploy.yml
  backend/build.gradle
  backend/src/main/java/com/example/demo/modules/auth/application/command/SigninCommand.java
  backend/src/main/java/com/example/demo/modules/auth/presentation/controller/AuthController.java
  backend/src/main/java/com/example/demo/modules/auth/presentation/output/SigninOutput.java
  backend/src/main/java/com/example/demo/modules/shared/jwt/JwtTokenProvider.java
  backend/src/main/resources/application-test.yml
  backend/src/main/resources/application.yml
  backend/src/test/java/com/example/demo/modules/auth/presentation/controller/AuthControllerIntegrationTest.java
  infra/.gitignore
  infra/lib/backend-stack.ts
Due: backend-format, backend-lint

Update README with ECS Fargate stack
  README.md
Due: none

Add JWT auto-login and E2E test token bypass
  README.md
  backend/src/main/java/com/example/demo/modules/test/presentation/controller/TestDataSetupController.java
  backend/src/main/java/com/example/demo/modules/test/presentation/dto/TestTokenResponse.java
  frontend_native/app.json
  frontend_native/app/_layout.tsx
  frontend_native/app/index.tsx
  frontend_native/e2e/features/user/user.yaml
  frontend_native/e2e/flows/wait_visible.yaml
  frontend_native/features/auth/context/AuthContext.tsx
  frontend_native/features/auth/hooks/useAuth.ts
  frontend_native/features/auth/hooks/useSigninForm.ts
  frontend_native/features/auth/hooks/useSignupForm.ts
  frontend_native/features/shared/api/fetcher.ts
  frontend_native/features/shared/api/generated/index.ts
  frontend_native/features/shared/api/generated/model/findUserByEmailResponse.ts
  frontend_native/features/shared/api/generated/model/findUserByIdResponse.ts
  frontend_native/features/shared/api/generated/model/index.ts
  frontend_native/features/shared/api/generated/model/setupDataRequest.ts
  frontend_native/features/shared/api/generated/model/signinResponse.ts
  frontend_native/features/shared/api/generated/model/updateUserProfileRequest.ts
  frontend_native/features/shared/api/generated/model/updateUserProfileResponse.ts
  frontend_native/features/shared/storage/tokenStorage.ts
  frontend_native/features/users/screens/UserListScreen.tsx
  frontend_native/package.json
  frontend_native/pnpm-lock.yaml
Due: backend-format, backend-lint, native-format, native-lint

Add code section to backend code_rule.md
  backend/doc/code_rule.md
Due: none

feat: Use launch arguments to control E2E mode in AuthContext
  README.md
  frontend_native/e2e/features/user/user.yaml
  frontend_native/features/auth/context/AuthContext.tsx
Due: native-format, native-lint

feat: Use react-native-launch-arguments for E2E mode detection
  frontend_native/e2e/features/user/user.yaml
  frontend_native/features/auth/context/AuthContext.tsx
  frontend_native/package.json
  frontend_native/pnpm-lock.yaml
Due: native-format, native-lint

refactor: Extract E2E test token setup to separate method
  frontend_native/features/auth/context/AuthContext.tsx
Due: native-format, native-lint

fix: Use fixed UUID for E2E test user to match token claim
  backend/src/main/java/com/example/demo/modules/test/application/command/SetupDataCommand.java
Due: backend-format, backend-lint

feat: Add JwtClaims record class and refactor E2E test constants
  backend/src/main/java/com/example/demo/modules/shared/jwt/JwtClaims.java
  backend/src/main/java/com/example/demo/modules/shared/jwt/JwtTokenProvider.java
  backend/src/main/java/com/example/demo/modules/test/application/command/SetupDataCommand.java
  backend/src/main/java/com/example/demo/modules/test/presentation/controller/TestDataSetupController.java
Due: backend-format, backend-lint

style: Fix Javadoc comments to comply with Checkstyle rules
  backend/src/main/java/com/example/demo/modules/shared/jwt/JwtClaims.java
  backend/src/main/java/com/example/demo/modules/test/application/command/SetupDataCommand.java
  backend/src/main/java/com/example/demo/modules/test/presentation/controller/TestDataSetupController.java
Due: backend-format, backend-lint

refactor: Rename controller and endpoints for E2E test support
  backend/src/main/java/com/example/demo/modules/test/presentation/controller/SupportE2ETestController.java
  backend/src/test/java/com/example/demo/modules/test/presentation/controller/SupportE2ETestControllerIntegrationTest.java
  frontend_native/e2e/scripts/reset_backend.js
  frontend_native/e2e/scripts/setup_data.js
  frontend_native/features/auth/context/AuthContext.tsx
Due: backend-format, backend-lint, native-format, native-lint

refactor: Use value objects in JWT token generation
  backend/src/main/java/com/example/demo/modules/auth/application/command/SigninCommand.java
  backend/src/main/java/com/example/demo/modules/shared/jwt/JwtTokenProvider.java
  backend/src/main/java/com/example/demo/modules/test/presentation/controller/SupportE2ETestController.java
Due: backend-format, backend-lint

feat: Add JWT authentication guard to users API
  backend/build.gradle
  backend/src/main/java/com/example/demo/modules/shared/jwt/JwtTokenProvider.java
  backend/src/main/java/com/example/demo/modules/shared/security/JwtAuthenticationEntryPoint.java
  backend/src/main/java/com/example/demo/modules/shared/security/JwtAuthenticationFilter.java
  backend/src/main/java/com/example/demo/modules/shared/security/SecurityConfig.java
Due: backend-format, backend-lint

refactor: Remove custom /health endpoint, use Spring Boot Actuator
  backend/build.gradle
  backend/src/main/java/com/example/demo/modules/health/presentation/HealthController.java
  backend/src/main/java/com/example/demo/modules/health/presentation/HealthStatusResponse.java
  backend/src/main/java/com/example/demo/modules/shared/security/SecurityConfig.java
  frontend_native/e2e/scripts/reset_backend.js
Due: backend-format, backend-lint, native-format, native-lint
